/******************************************************************************
  Main
*******************************************************************************/
html {
  height: 100%;
  font-size: $main-font-size;
  word-wrap: break-word;
}
body {
  color: $main-font-color;
  font-family: $main-font-family, sans-serif;
  font-size: $main-font-size;
  font-weight: $main-font-weight;
  height: 100%;
  line-height: 2.2;
  min-width: 320px;
  overflow-x: hidden;
  position: relative;
  @media (max-width: $media-xs) {
    overflow: auto;
  }
}
*:focus {
  outline: none;
}