/******************************************************************************
  Preloader
*******************************************************************************/
@keyframes expand {
  0% {
    width: 2px;
    height: 2px;
    top: 24px;
    left: 24px;
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    opacity: 0.2;
  }
}

.preloader {
  background: #fff;
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 999;
  
  span {
    height: 60px;
    left: 50%;
    margin: -30px 0 0 -30px;
    position: absolute;
    top: 50%;
    width: 60px;
    
    &:before,
    &:after {
      -webkit-animation: expand 3s;
      animation: expand 3s;
      -webkit-animation-timing-function: linear;
      -webkit-animation-delay: 0s;
      -webkit-animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      border: solid 3px #000;
      border-radius: 50%;
      content: " ";
      height: 2px;
      left: 24px;
      opacity: 0;
      position: absolute;
      top: 24px;
      width: 2px;
    }
    &:after {
      -webkit-animation-delay: 1.5s;
    }
  }
}